@charset "UTF-8";
/*
#overview
Gulp入門サンプル
 
サンプルファイルです
*/
/*#styleguide
サンプル見出し1
 
サンプルの見出しスタイル
hoverすると青く2倍になる
 
```
<h1>見出し1</h1>
```
*/
h1 {
  font-size: 24px;
  -webkit-transition: 200ms ease-out transform;
  transition: 200ms ease-out transform;
}

h1 span {
  color: #000;
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
}
